section {
    display: block;
    margin: 0 auto 0;
    /* background-color: antiquewhite; */
    /* border: 1px solid red; */
}
/* section:not(.full) {
    align-items: center;
} */
/* section > * {
    margin-bottom: 3rem;
} */
section:not(.full) > h1 {
    /* color: white; */
    /* border: 1px solid green; */
    font-size: var(--fs-3xl);
    line-height: var(--fs-3xl);
    text-align: center;
    margin-bottom: 2rem;
}

/* #services {
    display: grid;
} */
section > h1 {
    /* color: var(--color-grey-dark-03); */
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.services {
    margin: 8rem auto;
}

#service-grid {
    box-sizing: border-box;
    position: relative;
    margin: 4rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* border: 1px solid red; */
    /* row-gap: 3rem; */
    column-gap: 6rem;
    row-gap: 4rem;
}
#service-grid .service h1 {
    color: var(--color-accent);
    font-size: var(--fs-2xl);
    font-family: var(--font-notosans);
    font-weight: 700;
    border-bottom: 2px solid var(--color-accent);
}
#john {
    background-image: url('/images/john-white02.webp');
    /* height: 35rem; */
    background-size: cover;
    background-position: 50% 50%;
    /* z-index: -10; */
    width: 100%;
    /* margin-top: -10rem; */
    /* margin-bottom: 5rem; */
    position: relative;
    /* display: flex;
    align-items: center; */
    padding: 4rem 0 6rem;
    /* margin-bottom: 5rem; */
}
#john p {
    box-sizing: border-box;
    /* border: 1px solid red; */
    /* font-family: var(--font-sans); */
    width: 80%;
    max-width: 60%;
    justify-content: flex-start;
    letter-spacing: 0.25px;
    font-weight: 300;
    font-size: var(--fs-md);
    letter-spacing: 1px;
    line-height: var(--fs-2xl);
    /* opacity: 0.6; */
    color: rgba(255, 255, 255, 1);
    /* padding-bottom: 2.5rem; */
}
#reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* border: 1px solid red; */
    margin-bottom: 0;
    background-color: rgba(218, 165, 32, 0.6);
}
#reviews > * {
    margin: 6rem 0;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.review {
    text-align: center;
    /* border: 1px solid green; */
}
.review p {
    /* border: 1px solid green; */
    color: rgba(0, 0, 0, 0.8);
    width: 80%;
    margin: 0 auto 1.25rem;
    /* max-width: 60rem; */
    text-align: center;
    font-size: var(--fs-xl);
    line-height: var(--fs-3xl);
    font-family: var(--font-serif);
    font-weight: 300;
    letter-spacing: 0.5px;
    font-style: italic;
    /* font-weight: 200; */
}
#reviews .review:last-child {
    margin-bottom: 0;
}
.reviewer {
    /* font-family: var(--font-sans); */
    font-size: var(--fs-lg);
    font-weight: 200;
}
.reviewer:before {
    content: '-   ';
}
.reviewer:after {
    content: '   -';
}